<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ vm.pizza.nom }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-10">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" ng-src="{{ ((vm.pizza.image.length > 20) ? 'data:image/png;base64,' : '') + vm.pizza.image }}">
                </div>
                <div class="media-body">
                    <p>Pate : {{ vm.pizza.pate }}</p>
                    <p>Base : {{ vm.pizza.base }}</p>
                    <p>Miel : <span class="glyphicon glyphicon-{{ vm.pizza.miel ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></p>
                    <p>Anchois : <span class="glyphicon glyphicon-{{ vm.pizza.anchois ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></p>
                    <p>Jambon : <span class="glyphicon glyphicon-{{ vm.pizza.jambon ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></p>
                    <p>Magret : <span class="glyphicon glyphicon-{{ vm.pizza.magret ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <h2>
                    {{ vm.pizza.prix }}
                    <small><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></small>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.addToBasket()">Ajouter au panier</button>
    <button class="btn btn-detault" type="button" ng-click="vm.cancel()">Annuler</button>
</div>