<div class="row mt50">
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-8">
		<h1>Nos pizzas</h1>
		<div class="panel panel-primary" ng-repeat="pizza in vm.pizzas">
			<div class="panel-heading">
				<h3 class="panel-title">{{ pizza.nom }}</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Pate : {{ pizza.pate }}</li>
					<li>Base : {{ pizza.base }}</li>
					<li>Miel : {{ pizza.miel ? 'Oui' : 'Non' }}</li>
					<li>Anchois : {{ pizza.anchois ? 'Oui' : 'Non' }}</li>
					<li>Jambon : {{ pizza.jambon ? 'Oui' : 'Non' }}</li>
					<li>Magret : {{ pizza.magret ? 'Oui' : 'Non' }}</li>
				</ul>
				<button class="btn btn-primary" ng-click="vm.ordered()">Commandez cette pizza !</button>
			</div>
		</div>
	</div>
	<div class="col-md-2">&nbsp;</div>
</div>