<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>Nos pizzas</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4" ng-repeat="pizza in vm.pizzas">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{ pizza.nom }}</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center">
							<img ng-src="data:image/png;base64,{{ pizza.image }}" class="img-circle">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<ul>
							<li>Pate : {{ pizza.pate }}</li>
							<li>Base : {{ pizza.base }}</li>
							<li>Miel : <span class="glyphicon glyphicon-{{ pizza.miel ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></li>
							<li>Anchois : <span class="glyphicon glyphicon-{{ pizza.anchois ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></li>
							<li>Jambon : <span class="glyphicon glyphicon-{{ pizza.jambon ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></li>
							<li>Magret : <span class="glyphicon glyphicon-{{ pizza.magret ? 'ok green' : 'remove red' }}" aria-hidden="true"></span></li>
						</ul>
					</div>
					<div class="col-lg-4">
						<h1>
							{{ pizza.prix }}
							<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
						</h1>
					</div>
				</div>
			</div>
			<div class="panel-footer text-center">
				<button class="btn btn-default" ng-click="vm.addToBasket(pizza)">
					Ajouter au panier
					<span class="glyphicon glyphicon-shopping-cart"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- loader -->
<loader loading="vm.loading"></loader>