<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <!-- Commande -->
        <h1>Composez votre pizza</h1>
        <div class="well">
            <form>
                <h1>{{ vm.title }}</h1>
                <div class="form-group">
                    <label for="dough">{{ vm.pizza.dough.name }}</label>
                    <select class="form-control" name="dough" id="dough"
                            ng-options="ing as ing.name for ing in vm.pizza.dough.ingredients"
                            ng-model="ing"
                            ng-change="vm.selectDough(ing)">
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="base">{{ vm.pizza.base.name }}</label>
                        </div>
                        <div class="col-md-10">
                            <div ng-repeat="ing in vm.pizza.base.ingredients">
                                <label for="base_{{$index}}">
                                    {{ing.name}} {{ing.price}}
                                    <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                    <input type="checkbox" id="base_{{$index}}" name="base" ng-model="ing.selected" ng-click="vm.uncheck(ing)">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="base">Ingrédients</label>
                        </div>
                        <div class="col-md-10">
                            <div ng-repeat="ing in vm.pizza.ingredients">
                                <label>{{ing.name}} {{ing.price}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                    <input type="checkbox" name="base" ng-model="ing.selected" ng-click="vm.calculateTotal()">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <h3>
                            Vous en avez pour {{ vm.totalPrice }}
                            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5">
                        <button type="submit" class="btn btn-primary" ng-click="vm.addToBasket()">
                            Ajouter au panier
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>